body{
    background: black;
}
.container2{
 	background-size: cover;
  background: rgb(0, 0, 0); /* Old browsers */
  background: -moz-linear-gradient(top,  rgb(0, 0, 0) 0%, rgb(3, 3, 3) 50%, rgb(0, 0, 0) 51%, rgb(0, 0, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0, 0, 0)), color-stop(50%,rgb(0, 0, 0)), color-stop(51%,rgb(0, 0, 0)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgb(0, 0, 0) 0%,rgb(0, 0, 0) 50%,rgb(0, 0, 0) 51%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgb(0, 0, 0) 0%,rgb(0, 0, 0) 50%,rgb(0, 0, 0) 51%,rgb(0, 0, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgb(0, 0, 0) 0%,rgb(0, 0, 0) 50%,rgb(0, 0, 0) 51%,rgb(0, 0, 0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgb(0, 0, 0) 0%,rgb(0, 0, 0) 50%,rgb(0, 0, 0) 51%,rgb(0, 0, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 20px; 
  color: white;
}

/** Centrales rojos **/
.led-box_Centrales {
  height: 30px 30px;
  width: 5%;
  margin: 5px 0;
  float: left;
}

/** Extremo rojo **/
.led-box_Extremo {
  height: 30px 30px;
  width: 10%;
  margin: 5px 0;
  float: left;
}

/** Central blanco **/
.led-box-center{
    /**
    font-size: 12px;
    text-align: center;
    margin: 5px 0;**/
    height: 30px 10px;
    width: 5%;
    margin: 5px 0;
    float: left;
  }

/** Central Verde **/
.led-box-right_Centrales{
    height: 30px 10px;  
    width: 5%;
    margin: 5px 0;
    float: right;
  }

/** Extremo verde **/
.led-box-right_Extremos {
  height: 30px 10px;  
  width: 10%;
  margin: 5px 0;
  float: right;
}

/*
.led-red-actualizar {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: rgb(255, 0, 0); /** #24E0FF; #006  **/
  /*border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #d10707 0 -1px 9px, #f85353 0 2px 14px; -webkit-animation: blinkRed 2s infinite;
  -moz-animation: blinkRed 2s infinite;
  -ms-animation: blinkRed 2s infinite;
  -o-animation: blinkRed 2s infinite;
  animation: blinkRed 2s infinite; 
}
*/

.led-green {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
  }
  
  .led-red {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: rgb(255, 0, 0); /** #24E0FF; #006  **/
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #d10707 0 -1px 9px, #f85353 0 2px 14px;
  }

  .led-white {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #ffffff 0 -1px 9px, #ffffff 0 2px 12px;
  }

  .led-black {
    margin: 0 auto;
    width: 24px;
    height: 24px;
    background-color: rgb(0, 0, 0); /** #24E0FF; #006  **/
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #000000 0 -1px 9px, #000000 0 2px 14px;
  }
/**
@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
*/

/**
.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
**/


