/* Table */

 
  .App {
    max-width: 700px;
    margin: 0 auto;
  }
  
  table {
    font: bold 2em "Arial Narrow";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.7;
    padding: 8px;
    margin: 40px auto;
    border-spacing: 10px;
    border: 5px solid #000;
    background-color: #000000;
    color: #ffffff;
  }
  
  .team td {
    padding: 20px;
    min-width: 40px;
    box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.25);
  }
  
  .team td:first-child {
    text-align: left;
    padding-right: 32px;
  }
  
  .current-inning {
    color: #efb244;
  }
  
  /* Controls */
  
  .controls {
    text-align: center;
  }
  
  button {
    font: bold 1em "Arial";
    padding: 8px 16px;
    margin: 4px;
  }

  /* (A) SCORE BOARD */
#scoreBoard, #scoreTime, #scoreHome, 
#scoreAway, #nameHome, #nameAway {
  box-sizing: border-box;
  padding: 10px;
}
#scoreBoard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
  margin: 0 auto;
  max-width: 320px;
  background: #333;
  text-align: center;
  font-weight: bold;
}
#scoreTime, #scoreHome, #scoreAway {
  background: #000;
  border: 2px solid #555;
}
#scoreTime {
  color: #56b231;
  font-size: 1.2em;
  grid-column: span 2;
}
#scoreHome, #scoreAway {
  color: #ff2b0f;
  font-size: 2em;
}
#nameHome, #nameAway {
  background: #ddd;
  color: #333;
  font-size: 1.1em;
}

/* [HISTORY] */
#scoreHistory { margin-top: 10px; }
#scoreHistory div { padding: 5px; }
#scoreHistory div:nth-child(odd) { background-color: #f2f2f2; }

  